# Ignore the archived folder
/archive/

# Ignore the data folder
/data/
pointstowood/instance_all.py

# Ignore any archived or data folder in subdirectories
**/archive/
**/archived/
**/data/

# Optional: Ignore common Python-related files
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesispoints2wood/data/
points2wood/archived/
